.tabs {
  width: 600px;
  margin: 0 auto;
  /*border: 1px solid black;*/
}

.tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs ul li {
  background: white;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 4px 4px 0 0;
}

.tabs ul li.current {
  border-bottom-style: none;
  background: #ededed;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current {
  border: 1px solid black;
  display: inherit;
}
