body{
    margin-top: 100px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6em;
}

.tabs{
    width: 800px;
    margin: 0 auto;
}

.tabs ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tabs ul li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.tabs ul li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}