#affixScrollSpyNav {
  position: relative;
  width: auto;
  float: left;
  /* this property is not needed if using flexbox */ }

#affixScrollSpyNav ul {
  list-style-type: none; }

#affixScrollSpyNav li a {
  color: #202020;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0.4em 0;
  padding-left: 16px; }

#affixScrollSpyNav li > ul > li a {
  padding-left: 36px;
  font-size: 0.9em;
  color: #666; }

#affixScrollSpyNav li a:hover,
li a.active {
  color: #000;
  font-weight: 700;
  padding-left: 14px;
  border-left: 2px solid #202020; }

#affixScrollSpyNav li > ul li a.active,
#affixScrollSpyNav li > ul li a:hover {
  color: #666;
  padding-left: 34px;
  border-left: 2px solid #666; }

.subItems {
  display: none; }

.tabs {
  width: 600px;
  margin: 0 auto;
  /*border: 1px solid black;*/ }

.tabs ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.tabs ul li {
  background: white;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 4px 4px 0 0; }

.tabs ul li.current {
  border-bottom-style: none;
  background: #ededed; }

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px; }

.tab-content.current {
  border: 1px solid black;
  display: inherit; }

/**** Custon CSS for parallax hero Image ****/
header {
  background-image: url("../images/snake2Hero.jpg");
  height: 550px; }

@media only screen and (max-width: 768px) {
  header {
    background-image: url("../images/snake2Hero-small.jpg");
    height: 400px; }
  .heroParallax h1 {
    font-size: 4em; }
  .heroParallax,
  .heroParallax p {
    font-size: 0.9em; } }

/**** CSS for Parallax Hero Image ****/
.heroParallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.heroParallax h1 {
  font-size: 5em;
  font-weight: 300;
  text-align: center;
  color: #fafafa;
  text-shadow: 0 0 1px #888;
  letter-spacing: 0.03em;
  text-transform: uppercase; }

.heroParallax p {
  font-size: 1em;
  color: #fafafa;
  text-align: center;
  text-shadow: 0 0 1px #888;
  margin-bottom: 40px; }

.heroParallax p a {
  font-size: 0.8em;
  padding: 0.5em 1em;
  border: 2px solid #fafafa;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #fafafa;
  transition: all 0.5s; }

.heroParallax p a:hover {
  background-color: rgba(0, 0, 0, 0.8); }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  word-break: break-all; }

.topnav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2C3E50;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .topnav img {
    max-height: 5em;
    padding: 1em; }
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 1.4em 1.6em;
    text-decoration: none;
    font-size: 1em; }
    .topnav a:hover {
      background-color: #3FC380;
      color: black; }
  .topnav .icon {
    display: none; }

@media screen and (max-width: 768px) {
  .topnav a {
    display: none; }
  .topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .topnav a.icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative; }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 177, 106, 0.98);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6em;
  text-align: center; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2C3E50;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #FF1C00; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }

body {
  color: #333333;
  font-style: normal;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  color: #333333;
  line-height: 1.25;
  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1em; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, p small {
    color: gray; }
  h1.intro, h2.intro, h3.intro, h4.intro, h5.intro, h6.intro, p.intro {
    font-style: italic;
    font-size: 1.25em;
    font-weight: 300; }
  h1 mark, h2 mark, h3 mark, h4 mark, h5 mark, h6 mark, p mark {
    background-color: #d4e3f6; }
  h1.text-left, h2.text-left, h3.text-left, h4.text-left, h5.text-left, h6.text-left, p.text-left {
    text-align: left; }
  h1.text-right, h2.text-right, h3.text-right, h4.text-right, h5.text-right, h6.text-right, p.text-right {
    text-align: right; }
  h1.text-center, h2.text-center, h3.text-center, h4.text-center, h5.text-center, h6.text-center, p.text-center {
    text-align: center; }
  h1.text-justify, h2.text-justify, h3.text-justify, h4.text-justify, h5.text-justify, h6.text-justify, p.text-justify {
    text-align: justify; }
  h1.text-lowercase, h2.text-lowercase, h3.text-lowercase, h4.text-lowercase, h5.text-lowercase, h6.text-lowercase, p.text-lowercase {
    text-transform: lowercase; }
  h1.text-uppercase, h2.text-uppercase, h3.text-uppercase, h4.text-uppercase, h5.text-uppercase, h6.text-uppercase, p.text-uppercase {
    text-transform: uppercase; }
  h1.text-capitalize, h2.text-capitalize, h3.text-capitalize, h4.text-capitalize, h5.text-capitalize, h6.text-capitalize, p.text-capitalize {
    text-transform: capitalize; }

abbr[title] {
  border-bottom: dotted #333333 0.1em;
  cursor: help; }

address {
  font-style: normal;
  font-weight: "Open Sans", sans-serif; }

blockquote {
  margin-left: 1em;
  padding-left: 1em;
  border-left: solid 0.2em #b3b3b3; }
  blockquote p {
    font-size: 1.25rem;
    font-weight: 300; }
  blockquote footer {
    color: #aaaaaa;
    font-weight: bold; }
    blockquote footer::before {
      content: '\2014 \00A0'; }
  blockquote.blockquote-centered {
    text-align: center;
    margin-left: 1em;
    padding-left: 1em;
    border-left: solid 0.2em #b3b3b3;
    margin-right: 1em;
    padding-right: 1em;
    border-right: solid 0.2em #b3b3b3; }
    blockquote.blockquote-centered footer::before {
      content: '\2014 \00A0'; }
    blockquote.blockquote-centered footer::after {
      content: '\00A0 \2014'; }

a {
  margin: 0em;
  padding: 0em;
  font-size: 1em;
  line-height: 1.25; }

.wrapper {
  width: 60%;
  margin: 0 auto; }

code {
  background-color: #ffe8e6; }

.example-container {
  border: 0.1em solid #b4e7cd;
  padding: .5em 2em 0em 2em;
  border-radius: .4em .4em 0em 0em;
  overflow: hidden; }
  .example-container #block-example {
    width: 60%;
    margin: 1.5em auto;
    border-radius: .4em;
    padding: 1em;
    background-color: #fafafa;
    border: 0.1em solid #d4e3f6; }
  .example-container .example {
    color: #3FC380;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    background-color: #daf4e7;
    padding: 1em;
    margin: -.5em -2em; }

.example-copy figure, .example-copy pre {
  margin: 0em; }

.example-copy pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #eeeeee;
  padding: 2em;
  margin-top: -.1em;
  border: 0.1em solid #bfd5f2;
  border-radius: 0em 0em .4em .4em;
  margin-bottom: 50px; }
  .example-copy pre .tag {
    color: #4183D7; }
  .example-copy pre .class {
    color: #e61900; }
  .example-copy pre .class-contents {
    color: #2C3E50; }

.list-nostyle, .list-inline {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }

dl dt {
  font-style: italic;
  font-weight: bold; }

dl dd {
  margin-left: 0px; }

code {
  background-color: #ffe8e6; }

pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #eeeeee;
  padding: 20px;
  border: 1px solid #bfd5f2;
  border-radius: 4px; }

kbd {
  color: #ffffff;
  background-color: #2C3E50;
  padding: 5px;
  border-radius: 4px; }

@media screen and (min-width: 300px) {
  .responsive-table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0.1em solid #cbd7e3;
    overflow-x: auto;
    border-radius: 4px; } }

@media screen and (min-width: 800px) {
  .responsive-table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    overflow-x: auto;
    border-radius: none; } }

table, table .default-table {
  margin: 20px 0px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto; }
  table th, table .default-table th, table td, table .default-table td {
    text-align: left;
    padding: 10px; }
  table thead > tr > th, table .default-table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0.2em solid #cbd7e3; }
  table tbody > tr > th, table .default-table tbody > tr > th, table td, table .default-table td {
    vertical-align: bottom;
    border-bottom: 0.1em solid #cbd7e3; }
  table tbody > tr:last-child > th:last-of-type, table .default-table tbody > tr:last-child > th:last-of-type {
    border-bottom: 0px; }
  table tbody > tr:last-child > td, table .default-table tbody > tr:last-child > td {
    border-bottom: 0px; }
  table caption, table .default-table caption {
    text-align: left;
    color: #777777;
    padding-top: 5px;
    padding-bottom: 5px; }
  table.striped-table tbody > tr:nth-child(odd), table .striped-table.default-table tbody > tr:nth-child(odd) {
    background-color: #f2f2f2; }
  table.bordered-table, table .bordered-table.default-table {
    border: 0.1em solid #cbd7e3;
    border-radius: 4px; }
    table.bordered-table thead > tr > th, table .bordered-table.default-table thead > tr > th {
      vertical-align: bottom;
      border-bottom: 0.2em solid #cbd7e3; }
    table.bordered-table th, table .bordered-table.default-table th, table.bordered-table td, table .bordered-table.default-table td {
      border: 0.1em solid #cbd7e3; }

a[role="button"], button, input[type="button"], input[type="submit"], input[type="reset"] {
  display: inline-block;
  color: #507192;
  padding: .5em 1em;
  border-radius: .4em;
  border: 0.1em solid #cbd7e3;
  background-color: #ffffff;
  font-size: 1em;
  text-decoration: none;
  line-height: 1.25;
  margin: 1em auto;
  cursor: pointer; }
  a[role="button"]:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #f2f2f2; }
  a[role="button"].button-primary, button.button-primary, input[type="button"].button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary {
    background-color: #3FC380;
    color: #ffffff;
    border: 0.1em solid #37b173; }
    a[role="button"].button-primary:hover, button.button-primary:hover, input[type="button"].button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover {
      background-color: #37b173; }
  a[role="button"].button-success, button.button-success, input[type="button"].button-success, input[type="submit"].button-success, input[type="reset"].button-success {
    background-color: #25A65B;
    color: #ffffff;
    border: 0.1em solid #209150; }
    a[role="button"].button-success:hover, button.button-success:hover, input[type="button"].button-success:hover, input[type="submit"].button-success:hover, input[type="reset"].button-success:hover {
      background-color: #209150; }
  a[role="button"].button-warning, button.button-warning, input[type="button"].button-warning, input[type="submit"].button-warning, input[type="reset"].button-warning {
    background-color: #F5AB35;
    color: #ffffff;
    border: 0.1em solid #f4a11d; }
    a[role="button"].button-warning:hover, button.button-warning:hover, input[type="button"].button-warning:hover, input[type="submit"].button-warning:hover, input[type="reset"].button-warning:hover {
      background-color: #f4a11d; }
  a[role="button"].button-danger, button.button-danger, input[type="button"].button-danger, input[type="submit"].button-danger, input[type="reset"].button-danger {
    background-color: #CF000F;
    color: #ffffff;
    border: 0.1em solid #b6000d; }
    a[role="button"].button-danger:hover, button.button-danger:hover, input[type="button"].button-danger:hover, input[type="submit"].button-danger:hover, input[type="reset"].button-danger:hover {
      background-color: #b6000d; }
  a[role="button"].button-blue, button.button-blue, input[type="button"].button-blue, input[type="submit"].button-blue, input[type="reset"].button-blue {
    background-color: #2C3E50;
    color: #ffffff;
    border: 0.1em solid #233140; }
    a[role="button"].button-blue:hover, button.button-blue:hover, input[type="button"].button-blue:hover, input[type="submit"].button-blue:hover, input[type="reset"].button-blue:hover {
      background-color: #233140; }
  a[role="button"].button-accent, button.button-accent, input[type="button"].button-accent, input[type="submit"].button-accent, input[type="reset"].button-accent {
    background-color: #FF1C00;
    color: #ffffff;
    border: 0.1em solid #e61900; }
    a[role="button"].button-accent:hover, button.button-accent:hover, input[type="button"].button-accent:hover, input[type="submit"].button-accent:hover, input[type="reset"].button-accent:hover {
      background-color: #e61900; }

.button-large {
  font-size: 1.5em;
  line-height: 1.875; }

.button-small {
  font-size: 0.8em;
  line-height: 1; }

.button-tiny {
  font-size: 0.7em;
  line-height: 0.875; }

.button-block {
  display: block;
  width: 100%; }

a[disabled], button[disabled], input[disabled], .disabled {
  opacity: .6;
  cursor: not-allowed; }

figure {
  margin: 2em 0em; }
  figure img {
    display: inline-block;
    margin: 2em 0em; }
    figure img.responsive {
      max-width: 100%;
      height: auto;
      display: block; }
    figure img.center-block {
      display: block;
      margin: auto auto; }

.image-rounded {
  margin: 2em 0em;
  border-radius: .4em; }

.image-circle {
  margin: 2em .5em;
  border-radius: 100%; }

.image-shadow {
  margin: 2em .5em;
  box-shadow: 0em 1.7em 1.25em -1em #8c8c8c; }

@media screen and (max-width: 569px) {
  .flex-layout {
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .flex-layout .side-bar-right {
      display: none;
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .flex-layout .side-bar-left {
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
  .row-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-sizing: border-box;
    padding: 1em 0em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row-centered .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-centered .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-centered .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-centered .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-centered .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-centered .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-centered .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-centered .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    box-sizing: border-box;
    padding: 1em 0em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row-left .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-left .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-left .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-left .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-left .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-left .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-left .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-left .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    box-sizing: border-box;
    padding: 1em 0em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row-right .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-right .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-right .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-right .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-right .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-right .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-right .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-right .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    box-sizing: border-box;
    padding: 1em 0em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .element-fixed {
      background-color: #3FC380;
      border: 1px solid #ff8da1;
      box-sizing: border-box;
      padding: 0px .5em;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

@media screen and (min-width: 570px) {
  .flex-layout {
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .flex-layout .side-bar-right {
      display: none;
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .flex-layout .side-bar-left {
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
  .row-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-sizing: border-box;
    padding: 1em 0em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row-centered .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-centered .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-centered .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-centered .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-centered .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-centered .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-centered .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-centered .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-centered .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    box-sizing: border-box;
    padding: 1em 0em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row-left .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-left .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-left .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-left .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-left .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-left .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-left .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-left .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-left .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    box-sizing: border-box;
    padding: 1em 0em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row-right .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-right .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row-right .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-right .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-right .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-right .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-right .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-right .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-right .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    box-sizing: border-box;
    padding: 1em 0em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .element-fixed {
      background-color: #3FC380;
      border: 1px solid #ff8da1;
      box-sizing: border-box;
      padding: 0px .5em;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

@media screen and (min-width: 768px) {
  .flex-layout {
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .flex-layout .side-bar-right {
      display: block;
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .flex-layout .side-bar-left {
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
  .flex-layout {
    max-width: 1200px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .flex-layout .content-only {
      box-sizing: border-box;
      max-width: 1200px; }
    .flex-layout .content-right {
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3; }
    .flex-layout .content-left {
      box-sizing: border-box;
      padding: 0px 1em;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3; }
    .flex-layout .side-bar-right {
      display: none; }
    .flex-layout .side-bar-left {
      display: none; }
  .row-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-sizing: border-box;
    padding: 1em 0em; }
    .row-centered .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-centered .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%; }
    .row-centered .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 25.0%;
          flex-basis: 25.0%; }
    .row-centered .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }
    .row-centered .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%; }
    .row-centered .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-centered .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-centered .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-centered .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-centered .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-centered .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-centered .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    box-sizing: border-box;
    padding: 1em 0em; }
    .row-left .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-left .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%; }
    .row-left .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 25.0%;
          flex-basis: 25.0%; }
    .row-left .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }
    .row-left .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%; }
    .row-left .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-left .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-left .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-left .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-left .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-left .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-left .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    box-sizing: border-box;
    padding: 1em 0em; }
    .row-right .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-right .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%; }
    .row-right .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 25.0%;
          flex-basis: 25.0%; }
    .row-right .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }
    .row-right .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%; }
    .row-right .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-right .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-right .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-right .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-right .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-right .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-right .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    box-sizing: border-box;
    padding: 1em 0em; }
    .row .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%; }
    .row .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 25.0%;
          flex-basis: 25.0%; }
    .row .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }
    .row .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%; }
    .row .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .element-fixed {
      background-color: #3FC380;
      border: 1px solid #ff8da1;
      box-sizing: border-box;
      padding: 0px .5em;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

@media screen and (min-width: 992px) {
  .flex-layout {
    max-width: 1200px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .flex-layout .content-only {
      box-sizing: border-box;
      max-width: 1200px; }
    .flex-layout .content-right {
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3; }
    .flex-layout .content-left {
      box-sizing: border-box;
      padding: 0px 1em;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3; }
    .flex-layout .side-bar-right {
      display: block;
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .flex-layout .side-bar-left {
      box-sizing: border-box;
      padding: 0em 1em;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
  .row-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-sizing: border-box;
    padding: 1em 0em; }
    .row-centered .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-centered .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 8.3333333%;
          flex-basis: 8.3333333%; }
    .row-centered .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%; }
    .row-centered .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 25.0%;
          flex-basis: 25.0%; }
    .row-centered .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }
    .row-centered .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%; }
    .row-centered .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-centered .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-centered .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-centered .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-centered .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-centered .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-centered .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    box-sizing: border-box;
    padding: 1em 0em; }
    .row-left .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-left .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 8.3333333%;
          flex-basis: 8.3333333%; }
    .row-left .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%; }
    .row-left .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 25.0%;
          flex-basis: 25.0%; }
    .row-left .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }
    .row-left .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%; }
    .row-left .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-left .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-left .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-left .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-left .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-left .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-left .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    box-sizing: border-box;
    padding: 1em 0em; }
    .row-right .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row-right .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 8.3333333%;
          flex-basis: 8.3333333%; }
    .row-right .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%; }
    .row-right .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 25.0%;
          flex-basis: 25.0%; }
    .row-right .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }
    .row-right .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%; }
    .row-right .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row-right .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row-right .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row-right .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row-right .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row-right .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row-right .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    box-sizing: border-box;
    padding: 1em 0em; }
    .row .docs {
      background-color: #3FC380;
      border: 1px solid #319e67; }
    .row .col-1 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 8.3333333%;
          flex-basis: 8.3333333%; }
    .row .col-2 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%; }
    .row .col-3 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 25.0%;
          flex-basis: 25.0%; }
    .row .col-4 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }
    .row .col-5 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%; }
    .row .col-6 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 50.0%;
          flex-basis: 50.0%; }
    .row .col-7 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%; }
    .row .col-8 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }
    .row .col-9 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 75.0%;
          flex-basis: 75.0%; }
    .row .col-10 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%; }
    .row .col-11 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%; }
    .row .col-12 {
      box-sizing: border-box;
      padding: 1em;
      -ms-flex-preferred-size: 100.0%;
          flex-basis: 100.0%; }
    .row .element-fixed {
      background-color: #3FC380;
      border: 1px solid #ff8da1;
      box-sizing: border-box;
      padding: 0px .5em;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }
