
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width:50%;
    height: 30px;
    border: 1px solid red;
    background: grey;
}

li {
    
    float: left;
    padding-right: 10%;
    
}

a {
    color: white;
}

li a {
    display: block;
    margin-left: 20px;
    padding: 10px;
    background-color: red;
    text-align: center;
    }
