.flex-layout
  max-width: 1200px
  margin: 0px auto
  display: flex
  justify-content: space-between

  .content
    padding: 0px 1em
    order: 2
    flex: 3

  .side-menu
    padding: 0px 1em
    order: 3
    flex: 1

  .side-nav
    padding: 0px 1em
    order: 1
    flex: 1
